.section {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  margin-bottom: 60px;
}

.section h1 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.projectCard {
  background-color: var(--project-card-bg);
  height: 100px;
  padding: 16px;
  border: 1px solid #333;
  border-radius: 4px;
  transition: border 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectCard:hover {
  border: 1px solid #4c4c4c;
}

.projectInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 5px;
  gap: 10px;
}

.projectInfo h2 {
  flex: 1;
}

.projectLinks a {
  margin-left: 10px;
  font-size: 20px;
}
.projectStack {
  display: flex;
}
.projectStack p {
  color: cyan;
  margin-right: 10px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 0 30px;
    padding-top: 40px;
    text-align: left;
  }

  .projectCard {
    width: 100%;
  }

  .projectInfo {
    font-size: 18px;
  }
}
