.themeImg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: auto;
  margin: 40px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

span {
  display: flex;
  justify-content: center;
  gap: 25px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
