.themeImg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: auto;
  margin: 40px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  width: fit-content;
  align-self: center;
}

span {
  display: flex;
  justify-content: center;
  gap: 25px;
}

button {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.scroll {
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;
  bottom: 5%;
  font-size: 50px;
}

/* Media Queries */

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .hero {
    max-width: 350px;
    width: 350px;
  }
}

@media screen and (min-width: 1400px) {
  .hero {
    max-width: 400px;
    width: 400px;
  }
}
