.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  text-align: left;
  padding: 60px 0px;
}

.skillsContainer {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 8px;
}

.skillsContainer span {
  font-weight: 200;
  padding: 6px 8px;
  border-radius: 2px;
  border: 1px solid #333333;
  background-color: #232323;
}

/* Media Queries */

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 768px) {
  .section {
    padding: 30px;
  }
}
